@page
@model IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <div class="row">

        <div class="col-md-12 pb-1">
            <h3>Rectangle Size</h3>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>X</label>
                @Html.TextBoxFor(c => c.StudyCase.SizeInfo.X, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Y</label>
                @Html.TextBoxFor(c => c.StudyCase.SizeInfo.Y, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-md-12 pt-1 pb-3">
            <h3>Position Info</h3>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>X Coordinate</label>
                @Html.TextBoxFor(c => c.StudyCase.PositionInfo.X, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Y Coordinate</label>
                @Html.TextBoxFor(c => c.StudyCase.PositionInfo.Y, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Direction</label>
                @Html.TextBoxFor(c => c.StudyCase.PositionInfo.Direction, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>String Of Letters</label>
                @Html.TextBoxFor(c => c.StudyCase.PositionInfo.StringOfLetters, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-md-12 pt-3 pb-3">
            <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </div>


        @if (((ResponseData)ViewData["Result"]).Status == Models.Enums.StatusEnum.Success)
        {
            if (((ResponseData)ViewData["Result"]).Data != null)
            {
                foreach (var data in ((ResponseData)ViewData["Result"]).Data)
                {
                    <div class="col-md-12">
                        <div class="alert alert-primary" role="alert">
                            <p>@data</p>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <p>@(((ResponseData)ViewData["Result"]).Message)</p>
                </div>
            </div>
        }

    </div>
</form>
